<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block script %} {% endblock %}
    <title>Race Time</title>
</head>
<header>
    <nav class="navbar">
        <h1 class="title"> <a href="/home/">Race Reg</a></h1>
        <li class="item-list">
            <ul><a class="list-link" href="/create/">Create Race</a></ul>
            <ul><a class="list-link" href="/seeraces/">View Races</a></ul>
            <ul><a class="list-link" href="/myraces/">My Races</a></ul>
        </li>
        {% if request.user.username == ""%}
            <h3 class="login-signup"><a href="/signup/">Sign Up</a></h3>
        {% else %}
            <h3 class="login-signup"> <a href="/friends/">Hello, {{request.user.username}}!</a></h3>
        {% endif %}
    </nav>
</header>
<body>
    {% block content %} {% endblock %}
</body>
</html>