{% extends "races/base.html" %}
{% load static %}t
{% block script %} 
    <link rel="stylesheet" href="{% static 'races/newrace.css' %}">
{% endblock %}
{% block content %}
    <div class="race_form">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <h3 class="field_label">{{field.label}}</h3>
                <div class="field">
                    {{field}}
                </div>
            {% endfor %}
            <input class="submit_button" type="submit">
            <ul>
                {% for message in messages %}
                    <li class="info">{{message}}</li>
                {% endfor %} 
            </ul>
            <ul>
                {% for races in request.user.owned_races.name %} 
                    <li>{{race.name}}</li>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}