* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: rgb(154, 154, 160);
}

.item-list {
    list-style-type: none;
    float: right;
}

.list-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    white-space: nowrap;
    padding: 20px;
}
.navbar {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar .item-list{
    display: inline-flex;
    float: right;
}

.title {
    font-size: 32px;
    white-space: nowrap;
}

.list-link:hover {
    color: rgb(0, 255, 21);
    font-size: 22px;
    transition: .2s;
}

.login-signup {
    font-size: 16px;
    white-space: nowrap;
    padding: 10pxß;
}

header {
    border-style: solid;
    border-width: 4px;
}

a {
    text-decoration: none;
    color: black;
}