* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: rgb(154, 154, 160);
}

.item-list {
    list-style-type: none;
    float: right;
    padding-left: 50%;
    padding-top: 5px;
}

.list-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
}
.navbar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-style: solid;
}
.navbar .item-list{
    display: inline-flex;
    float: right;
}

.title {
    font-size: 32px;
    padding-left: 50px;
}

.list-link:hover {
    color: rgb(0, 255, 21);
    font-size: 22px;
    transition: .2s;
}

.login-signup {
    font-size: 16px;
    padding: 10px;
    float: right;
}


a {
    text-decoration: none;
    color: black;
}