* {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
}

.list-link {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;;
}

.item-list {
    display: inline;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}



















.race-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}