* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: rgb(154, 154, 160);
}

.item-list {
    list-style-type: none;
    float: right;
}

.list-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    white-space: nowrap;
    padding: 20px;
}
.navbar {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar .item-list{
    display: inline-flex;
    float: right;
}

.title {
    font-size: 32px;
    white-space: nowrap;
}

.list-link:hover {
    color: rgb(0, 255, 21);
    font-size: 22px;
    transition: .2s;
}

.login-signup {
    font-size: 16px;
    white-space: nowrap;
    padding: 10pxß;
}

header {
    border-style: solid;
    border-width: 4px;
}

a {
    text-decoration: none;
    color: black;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    transition: .2s;
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.participants {
    text-decoration: underline;
    color: blue;
}

.participants:hover {
    color: #3e8e41;
    transition: .2s;
}

tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}
tr:nth-child(odd) {
    background-color: white;
}

td {
    text-align: center;
    width: 300px;
    border-right: 2px solid black;
    padding: 4px;
    padding: none;
    margin: none;
}